<!DOCTYPE html>

<html lang="es">

<head><meta http-equiv="Content-Type" content="text/html; charset=gb18030">
<title>Mini torneo Parag&oacute;n || Comunidad Parag&oacute;n PS4	Chile</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="fonts/obelixpro/stylesheet.css" />
<link rel="stylesheet" href="fonts/american_captain/stylesheet.css" />

<link rel="stylesheet" href="css/owl.carousel.min.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/style-mobile.css" />
<link rel="shortcut icon" href="/favicon.ico" />

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>

</head>

<body>
    <header>

    </header>
    <section id="banner-informative" class="info-global first-info">
        <div class="info-title-nav">
          <h2> <img src="images/Definido-02.png" class="img-responsive">Comunidad Parag&oacute;n PS4 Chile</h2>
        </div>
        
        <div class="fadeOut owl-carousel owl-theme" id="about-slider">
            <div class="item">
              <img src="images/banners/bannHome_type_1.png" class="img-responsive">
            </div>
            <div class="item">
              <img src="images/banners/bannHome_type_2.png" class="img-responsive">
            </div>  
             <div class="item">
              <img src="images/banners/bannHome_type_3.png" class="img-responsive">
            </div>     
        </div>
       
        <div class="scroll-down-absolute"> 
            <a href="#" id="target">
              <img src="images/pointing-up.png" class="img-responsive">
            </a>
        </div>

    </section>
    <section id="banner-disputa" class="info-global first-info">
        <div class="back-left-black">

            <div class="text-title">

                <img src="images/logo-tournament-blank.svg" class="logo-blank img-responsive">
                <!--<img src="images/logo-tournament.svg" class="logo-black">-->
            </div>
        </div>

        <div class="container" id="title1">
            <h1 class="title-clock"> Equipos inscritos</h1>
            
           
              <div class="button">
                  
              </div>
           <div class="team-match">
               <div class="col-md-4">
                <div class="enfrent">
                    <div class="title-enfrent">
                      <div class="name-team ">
                       <h3>ICE KAOS</h3>
                      </div>
                       <span class="elo-prod">Elo</span>
                       <span class="elo-promedio">
                         1181
                       </span>
                       
                    </div>
                    <div class="full-btn-view">
                          <a href="details/ice-kaos.html" class="view-more-team">Ver m&aacute;s</a>
                    </div>

                </div>
              </div>
              <div class="col-md-4">
                <div class="enfrent">
                    <div class="title-enfrent">
                      <div class="name-team ">
                       <h3>Mac4bro Team</h3>
                      </div>
                       <span class="elo-prod">Elo</span>
                       <span class="elo-promedio">
                         1292
                       </span>
                       
                    </div>
                    <div class="full-btn-view">
                          <a href="details/mac4bros-team.html" class="view-more-team">Ver m&aacute;s</a>
                    </div>

                </div>
              </div>

               <div class="col-md-4">
                <div class="enfrent">
                    <div class="title-enfrent">
                      <div class="name-team ">
                       <h3>Los Pajis</h3>
                      </div>
                       <span class="elo-prod">Elo</span>
                       <span class="elo-promedio">
                         1255
                       </span>
                       
                    </div>
                    <div class="full-btn-view">
                          <a href="details/los-pajis.html" class="view-more-team">Ver m&aacute;s</a>
                    </div>

                </div>
              </div>

           </div>


           <div class="team-match">
               <div class="col-md-4">
                <div class="enfrent">
                    <div class="title-enfrent">
                      <div class="name-team ">
                       <h3>Berserker Team</h3>
                      </div>
                       <span class="elo-prod">Elo</span>
                       <span class="elo-promedio">
                         1377
                       </span>
                       
                    </div>
                    <div class="full-btn-view">
                          <a href="details/berserker-team.html" class="view-more-team">Ver m&aacute;s</a>
                    </div>

                </div>
              </div>
              <div class="col-md-4">
                <div class="enfrent">
                    <div class="title-enfrent">
                      <div class="name-team ">
                       <h3>the mancos gaming</h3>
                      </div>
                       <span class="elo-prod">Elo</span>
                       <span class="elo-promedio">
                         1213
                       </span>
                       
                    </div>
                    <div class="full-btn-view">
                          <a href="details/themancosgaming.html" class="view-more-team">Ver m&aacute;s</a>
                    </div>

                </div>
              </div>

               <div class="col-md-4">
                <div class="enfrent">
                    <div class="title-enfrent">
                      <div class="name-team ">
                       <h3>Mancos x crew</h3>
                      </div>
                       <span class="elo-prod">Elo</span>
                       <span class="elo-promedio">
                         1181
                       </span>
                       
                    </div>
                    <div class="full-btn-view">
                          <a href="details/mancosxcrew.html" class="view-more-team">Ver m&aacute;s</a>
                    </div>

                </div>
              </div>

           </div>



           

        </div>

    </section>
    <footer>
        <div class="container">
            <p>Ante cualquier duda contactarnos a <span>torneosparagonchile@gmail.com</span></p>
        </div>
    </footer>



<script type="text/javascript">
$( "#target" ).click(function() {
    $("html, body").animate({ scrollTop: $('#title1').offset().top }, 1000);
});




//carrousel


$(document).ready(function() {
  $('#about-slider').owlCarousel({
      margin:10,
      nav:false,
      items:1,
      loop:true,
      navigation: false,
      autoplay:true,
      autoplayTimeout:5000,
      autoplayHoverPause:false,
      navText: ['<i class="entypo-icon entypo-chevron-thin-left" aria-hidden="true"></i>','<i class="entypo-icon entypo-chevron-thin-right" aria-hidden="true"></i>'],
      responsive:{
          0:{
              items:1
          },
          600:{
              items:1
          },
          1000:{
              items:1
          }
      }
  })
})

</script>
</body>
</html>