<!DOCTYPE html>

<html lang="es">

<head><meta http-equiv="Content-Type" content="text/html; charset=gb18030">
<title>Mini torneo Parag&oacute;n || Comunidad Parag&oacute;n PS4	Chile</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/bootstrap.min.css" />
<link rel="stylesheet" href="../css/font-awesome.min.css" />
<link rel="stylesheet" href="../fonts/obelixpro/stylesheet.css" />
<link rel="stylesheet" href="../fonts/american_captain/stylesheet.css" />

<link rel="stylesheet" href="../css/owl.carousel.min.css" />
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/style-mobile.css" />
<link rel="shortcut icon" href="/favicon.ico" />

<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>

</head>

<body>
    <header>

    </header>
    <section id="details" class="info-global first-info info-details-teams-e">
        <div class="info-title-nav">
         <h2> <img src="../images/Definido-02.png" class="img-responsive">Comunidad Parag&oacute;n PS4 Chile</h2>

         <div class="back-btn-align">
            <a class="btn-red-back pulse-button" href="../index.html"> Volver</a>
         </div>
        </div>
    </section>
    <section id="details-full-section" class="info-global first-info info-details-teams">
          <div class="container">
              <div class="detail-title-box">
                  <h2> Mac4bro Team</h2>
              </div>


              <div class="full-tables">
              <div class="table-responsive">
              <table class="table table-stripped table-res">
                    <thead>
                        <tr>
                            <th>Integrantes</th>
                            <th>Elo</th>
                            <th>Nivel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>DkDAn4rky</td>
                            <td>1308</td>
                            <td>Sin informaci&oacute;n</td>

                        </tr>
                        <tr>
                            <td>gerius21</td>
                            <td>1303</td>
                             <td>Sin informaci&oacute;n</td>


                        </tr>
                        <tr>
                            <td>XxMoyaxX</td>
                            <td>1338</td>
                             <td>Sin informaci&oacute;n</td>


                        </tr>
                        <tr>
                            <td>Red_Xelo</td>
                            <td>1384</td>
                            <td>Sin informaci&oacute;n</td>


                        </tr>
                        <tr>
                            <td>Cal3uche</td>
                            <td>1128</td>
                           <td>Sin informaci&oacute;n</td>


                        </tr>
                    </tbody>    
                  





              </table>

              </div>
            </div>  
          </div>
          

    </section>
    <footer>
        <div class="container">
            <p>Ante cualquier duda contactarnos a <span>torneosparagonchile@gmail.com</span></p>
        </div>
    </footer>



<script type="text/javascript">
$( "#target" ).click(function() {
    $("html, body").animate({ scrollTop: $('#title1').offset().top }, 1000);
});




//carrousel


$(document).ready(function() {
  $('#about-slider').owlCarousel({
      margin:10,
      nav:false,
      items:1,
      loop:true,
      navigation: false,
      autoplay:true,
      autoplayTimeout:5000,
      autoplayHoverPause:false,
      navText: ['<i class="entypo-icon entypo-chevron-thin-left" aria-hidden="true"></i>','<i class="entypo-icon entypo-chevron-thin-right" aria-hidden="true"></i>'],
      responsive:{
          0:{
              items:1
          },
          600:{
              items:1
          },
          1000:{
              items:1
          }
      }
  })
})

</script>
</body>
</html>